* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

article {
  padding: 1.7rem;
  background-color: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

header {
  width: 100%;
  flex: 0;
  display: flex;
  position: fixed;
  top: 0;
  background-color: #000000;
  color: #ffffff;
}

ul {
  margin-bottom: 1em;
}

article a {
  text-decoration: underline;
}

article h2 {
  float: left;
}

article p {
  margin-bottom: 1em;
}

header h1 {
  padding-left: 0.5rem;
  font-size: 1.125rem; 
  flex: 1;
}

nav {
  height: 100%;
  flex: 0;
  display: table;
}

pre {
  overflow: auto;
}

div.content {
  flex: 1;
  height: 100%;
  padding-top: 1.7rem;
}

nav a {
  display: table-cell;
}

nav svg {
  vertical-align: middle;
  padding: 0 0.5rem 0 0.5rem;
  fill: #ffffff;
}

a.contact {
  text-decoration: none;
  font-size: 1.125rem;
}

article.brief {
  border: 0.125rem solid #000000;
  margin: 1.5rem;
}

.contact div {
  border: 0.125rem solid #000000;
  padding: 0.5rem;
  margin-bottom: 0.5em;
}

span.inlineCode {
  font-family: monospace;
}

a:hover {
  background-color: #000000;
  color: #ffffff;
}

article p.clear {
  clear: left;
}

article p.date {
  float: right;
}

article.brief h2 {
  float: none;
}

article.brief p {
  margin: 0;
}

.contact svg {
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  margin-right: 0.5em;
}

.contact p {
  display: inline;
  vertical-align: middle;
}

nav a.current {
  background-color: #ffffff;
}

nav a.current svg {
  fill: #000000;
}

p.pageIndex {
  float: right;
}

a.contact:hover div {
  background-color: #000000;
}

a.contact:hover svg {
  fill: #ffffff;
}

nav a:hover {
  background-color: #ffffff;
}

nav a:hover > svg {
  fill: #000000;
}
